<h1> <%= @post.title %> </h1>
<p> <%= @post.content %> </p>
<p>Categories:</p>
<ul>
  <% @post.categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>
<p>Comments:</p>
<ul>
  <% @post.comments.each do |co| %>
    <li><%= "#{co.user.username} says: #{co.content}" %></li>
  <% end %>
</ul>
<p>Users who have commented:</p>
<ul>
  <% @post.users.uniq.each do |u| %>
    <li><%= link_to u.username, user_path(u) %></li>
  <% end %>
</ul>
<% comment = Comment.new %>
<%= form_for comment do |f| %>
  <%= f.label "New comment" %>
  <%= f.text_area :content %>
  <br>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <br>
  <%= f.fields_for :user_attributes do |user| %>
    <%= user.label :username %>
    <%= user.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>